#LeftPanel {
    width: 30%;
    max-height: 85vh!important;
}

#RightPanel {
    width: 60%;
    background: #161717;
    max-height: 85vh!important;
}

@media(max-width: 850px) {
    #root {
        height: 100%;
    }

    #LeftPanel {
        width: 90%;
        height: 400px;
    }

    #RightPanel {
        width: 90%;
        height: 500px;
    }
}

@media(max-width: 600px) {
    #LeftPanel {
        width: 95%;
    }

    #RightPanel {
        width: 95%;
    }
}